# Standalone signature overrides.
# Format:
# module|name|kind|callback|pattern
# kind: rva or imm
# callback: none, view_angles, local_player_pawn
#
# You may add a second line with the same module/name to provide another
# candidate. Lines in this file are tried before the built-in candidates.
# Keeping this file beside the executable lets signatures be updated without
# rebuilding the C++ program.

client.dll|__ButtonList|rva|none|488b15${'} 4885d2 74? 488b02 4885c0
client.dll|__ViewAngles|imm|none|f2420f108428u4
client.dll|__LocalPlayerPawn|imm|none|4c39b6u4 74? 4488be
schemasystem.dll|__SchemaSystem|rva|none|4c8d35${'} 0f2845

client.dll|dwCSGOInput|rva|view_angles|488905${'} 0f57c0 0f1105
client.dll|dwEntityList|rva|none|48890d${'} e9${} cc
client.dll|dwEntityList|rva|none|488935${'} 4885f6
client.dll|dwGameEntitySystem|rva|none|488b1d${'} 48891d[4] 4c63b3
client.dll|dwGameEntitySystem_highestEntityIndex|imm|none|ff81u4 4885d2
client.dll|dwGameRules|rva|none|f6c1010f85${} 4c8b05${'} 4d85
client.dll|dwGlobalVars|rva|none|488915${'} 488942
client.dll|dwGlowManager|rva|none|488b05${'} c3 cccccccccccccccc 8b41
client.dll|dwLocalPlayerController|rva|none|488b05${'} 4189be
client.dll|dwPlantedC4|rva|none|488b1d${'} 4532f6
client.dll|dwPrediction|rva|local_player_pawn|488d05${'} c3 cccccccccccccccc 405356 4154
client.dll|dwSensitivity|rva|none|488d0d${[8]'} 660f6ecd
client.dll|dwViewMatrix|rva|none|488d0d${'} 48c1e006
client.dll|dwViewRender|rva|none|488905${'} 488bc8 4885c0
client.dll|dwWeaponC4|rva|none|488b15${'} 488b5c24? ffc0 8905${} 488bc6 488934ea 80be

engine2.dll|dwBuildNumber|rva|none|8905${'} 488d0d${} ff15${} 488b0d
engine2.dll|dwBuildNumber|rva|none|8905${'} 488d0d${} ff15${}
engine2.dll|dwNetworkGameClient|rva|none|48893d${'} ff87
engine2.dll|dwNetworkGameClient|rva|none|48893d${'} 488d15
engine2.dll|dwNetworkGameClient_clientTickCount|imm|none|8b81u4 c3 cccccccccccccccccc 8b81${} c3 cccccccccccccccccc 83b9
engine2.dll|dwNetworkGameClient_deltaTick|imm|none|4c8db7u4 4c897c24
engine2.dll|dwNetworkGameClient_deltaTick|imm|none|8983u4 40b7
engine2.dll|dwNetworkGameClient_isBackgroundMap|imm|none|0fb681u4 c3 cccccccccccccccc 0fb681${} c3 cccccccccccccccc 4883ec
engine2.dll|dwNetworkGameClient_localPlayer|imm|none|428b94d3u4 5b 49ffe3 32c0 5b c3 cccccccccccccccc 4053
engine2.dll|dwNetworkGameClient_maxClients|imm|none|8b81u4 c3????????? 8b81[4] c3????????? 8b81
engine2.dll|dwNetworkGameClient_serverTickCount|imm|none|8b81u4 c3 cccccccccccccccccc 83b9
engine2.dll|dwNetworkGameClient_signOnState|imm|none|448b81u4 488d0d
engine2.dll|dwWindowHeight|rva|none|8b05${'} 8903
engine2.dll|dwWindowWidth|rva|none|8b05${'} 8907

inputsystem.dll|dwInputSystem|rva|none|488905${'} 33c0
matchmaking.dll|dwGameTypes|rva|none|488d0d${'} ff90
soundsystem.dll|dwSoundSystem|rva|none|488d0d${'} e8${} 488b0d${} [3] 4c8b82
soundsystem.dll|dwSoundSystem_engineViewData|imm|none|0f1147u1 0f104e? 0f118f
